cmd/workflows.json
{
    "example:workflow:ExampleWorkflow1":{
        "StartAt": "State1",
        "States": {
            "State1": {
                "Type": "Task",
                "Resource": "example:activity:Activity1",
                "Next": "State2"
            },
            "State2": {
                "Type": "Task",
                "Resource": "example:activity:Activity2",
                "End": true
            }
        }
    },
    "example:workflow:ExampleWorkflow2":{
        "StartAt": "ChoiceState",
        "States": {
          "ChoiceState": {
            "Type" : "Choice",
            "Choices": [
              {
                "Variable": "$.foo",
                "NumericEquals": 1,
                "Next": "State1"
              },
              {
                "Variable": "$.foo",
                "NumericEquals": 2,
                "Next": "State2"
              }
            ],
            "Default": "DefaultState"
          },
          "State1": {
            "Type": "Task",
            "Resource": "example:activity:Activity1",
            "Next": "SuccessState"
          },
          "State2": {
            "Type": "Task",
            "Resource": "example:activity:Activity2",
            "Next": "SuccessState"
          },
          "FailState": {
            "Type": "Fail",
            "Cause": "No Matches!"
          },
          "SuccessState": {
            "Type": "Succeed"
          }
        }
    }
}

